div.mapContainer {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    width: 1000px; 
    height: 100%;
}
div#map {
    height: 500px;
    border: 1px solid black;
    margin: 50px 30px;
}
div.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding:2px;
}
div.info {
    /* text-align: center; */
    justify-content: center;
}
div.info > div.title {
    font-size: 14px;
}
div.label {
    color: lightyellow;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-weight: bold;
}