div.mapContainer {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
div#map {
    width: 60%;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
}
div.info {
    /* text-align: center; */
    justify-content: center;
}
div.info > div.title {
    font-size: 14px;
}
