div.mapContainer {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    width: 75vw;
    height: 100%;
}
div#map {
    width: 100%;
    height: 100%;
}

/* 호버 - 커스텀 오버레이 */
/* div.area {
    border-radius: 3px;
    font-size: 12px;
} */

/* 클릭 - 인포윈도우 */
/* div.info {
    justify-content: center;
}
div.info > div.title {
    font-size: 14px;
} */

/* 구역이름 표시 - 커스텀 오버레이 */
div.label {
    color: lightyellow;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-size: 18px;
    font-weight: bold;
}
/* 구역이름 라벨 위에 띄울 div */
div.customInfo {
    min-width: 200px;
    min-height: 60px;
    text-align: center;
    justify-content: center;
    background-color: white;
    pointer-events: none;
    z-index: 5;
    position: absolute;
    background: #fff;
    border: 2px solid #888;
    padding: 16px;
}
div.customInfo > div.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}