div.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  position: relative;
}
/* 지도안의 컨트롤러 */
div.sideController {
  margin-top: 60px;
  background-color: wheat;
  position: absolute;
  top:0px;
  right: 25vw;
  margin: 20px;
  z-index: 5;
}
div.legendContainer {
  border: 2px solid orange;
}
div.legendContainer > div.range {
  display: flex;
}
div.legendContainer > div.range > div.color {
  width: 20px;
  height: 20px;
  margin: 6px;
}
div.legendContainer > div.range > div.lbl {
  width: 200px;
  line-height: 32px;
  text-align: center;
}
div.checkboxContainer {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
}
div.checkboxContainer > label {
  margin: 4px;
}
label > input[type='checkbox'] {
  accent-color: #232323;
}
/* 지도 우측 사이드 */
div.side {
  width: 25vw;
  /* height: calc(100% - 20px); */
  height: 100%;
  background-color: white;
  border: 1px solid gray;
  padding: 16px;
  box-sizing: border-box;
  text-align: left;
}
div.side > div.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
div.year {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: right;
}
div.small {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 10px;
}
