div.container {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
div.datetimeContainer {
    display: flex;
    line-height: 70px;
    justify-content: center;
    margin-right: 30px;
}
div.datetimeContainer > div.inputWrap {
    margin: 0px 10px 0px 10px; 
}
div.datetimeContainer > div.inputWrap > input {
    margin: 20px 6px;
    width: 110px;
    height: 24px;
}